GCP_PROJECT=mountain-weatherman-app
GCS_BUCKET_WEATHER=mountain-weatherman-app-weather-data
FIREBASE_SERVICE_ACCOUNT=
TOPIC_WEATHER_REFRESH=projects/mountain-weatherman-app/topics/dev-weather-refresh
TOPIC_BACKFILL_REFRESH=projects/mountain-weatherman-app/topics/dev-backfill-refresh
TOPIC_NWAC_REFRESH=projects/mountain-weatherman-app/topics/dev-nwac-refresh
TOPIC_SNOTEL_REFRESH=projects/mountain-weatherman-app/topics/dev-snotel-refresh
NEXT_PUBLIC_MAPBOX_TOKEN=
NEXT_PUBLIC_EOX_ATTRIBUTION=Sentinel-2 cloudless - https://s2maps.eu by EOX IT Services GmbH (Contains modified Copernicus Sentinel data)
BROWSE_REFRESH_MODE=scheduled
FIRESTORE_EMULATOR_HOST=localhost:8080
PUBSUB_EMULATOR_HOST=localhost:8085
